[submodule "server/manager"]
	path = server/manager
	url = https://github.com/limes-cloud/manager
[submodule "server/gateway"]
	path = server/gateway
	url = https://github.com/limes-cloud/gateway
[submodule "web/client-uniapp"]
	path = web/client-uniapp
	url = https://github.com/limes-cloud/client-uniapp
[submodule "web/admin-web"]
	path = web/admin-web
	url = https://github.com/limes-cloud/admin-web
[submodule "framework/kratosx"]
	path = framework/kratosx
	url = https://github.com/limes-cloud/kratosx
[submodule "framework/kratos-layout"]
	path = framework/kratos-layout
	url = https://github.com/limes-cloud/kratos-layout
[submodule "server/cron"]
	path = server/cron
	url = https://github.com/limes-cloud/cron
[submodule "server/configure"]
	path = server/configure
	url = https://github.com/limes-cloud/configure
[submodule "server/resource"]
	path = server/resource
	url = https://github.com/limes-cloud/resource
[submodule "server/application"]
	path = server/application
	url = https://github.com/limes-cloud/application
[submodule "server/notify"]
	path = server/notify
	url = https://github.com/limes-cloud/notify.git
