[submodule "manager"]
	path = manager
	url = https://github.com/limes-cloud/manager.git
[submodule "resource"]
	path = resource
	url = https://github.com/limes-cloud/resource.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/limes-cloud/gateway.git
[submodule "configure"]
	path = configure
	url = https://github.com/limes-cloud/configure.git
[submodule "kratosx"]
	path = kratosx
	url = https://github.com/limes-cloud/kratosx.git
[submodule "kratos-layout"]
	path = kratos-layout
	url = https://github.com/limes-cloud/kratos-layout.git
[submodule "cron"]
	path = cron
	url = https://github.com/limes-cloud/cron.git
[submodule "admin-web"]
	path = admin-web
	url = https://github.com/limes-cloud/admin-web.git
[submodule "user-center"]
	path = user-center
	url = https://github.com/limes-cloud/user-center.git
[submodule "party-affairs"]
	path = party-affairs
	url = https://github.com/limes-cloud/party-affairs.git
[submodule "client-uniapp"]
	path = client-uniapp
	url = https://github.com/limes-cloud/client-uniapp.git
