<div style="margin:auto;max-width: 700px;">
    <div style="padding:10px 0; margin:0 10px; display: flex;align-items: center; ">
        <image src="http://p3-armor.byteimg.com/tos-cn-i-49unhts6dw/dfdba5317c0c20ce20e64fac803d52bc.svg~tplv-49unhts6dw-image.image"
               width='35px' height='35px' />
        <span style="margin: 0 10px;font-size: 20px; font-weight: 700;">统一应用管理平台</span>
    </div>
    <div
            style="box-sizing: border-box;min-height: 100px;padding:15px;margin:0 10px 25px 10px; line-height: 24px; text-align: justify; border-top: 2px solid #1e90ff; background-color: #fefefe;box-shadow: 0 1px 8px rgba(0,0,0,0.1);">
        <div style="font-size:14px;white-space: normal;margin: 0px;padding: 0px;box-sizing: border-box;">
            您的邮箱验证码为： {{.captcha}}，该验证码在{{.minute}}分钟内有效，为了账号安全，请勿向其他人泄漏验证码信息。
        </div>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody >
        <tr>
            <td align="center" style="color:#76808E;font-size:13px;">开放协作，拥抱未来</td>
        </tr>
<!--        <tr>-->
<!--            <td align="center">-->
<!--                <image src="https://interact-1301828925.cos.ap-chengdu.myqcloud.com/getqrcode.jpeg"-->
<!--                       style="border-radius: 4px; display: block; width: 180px;height: 180px; margin: auto; text-align: center">-->
<!--                </image>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td align="center" style="color:#76808E;font-size:13px;">手机扫一扫，关注公众号</td>-->
<!--        </tr>-->
        <tr>
            <td align="center" style="color:#76808E;font-size:13px;">
                Copyright © 2024 qlime.cn. All rights reserved.
            </td>
        </tr>
        </tbody>
    </table>
</div>